sudo: required
dist: trusty
env:
  - MOZ_HEADLESS=1
addons:
  firefox: latest
language: node_js
node_js:
  - "10"
cache:
  directories:
    - "node_modules"
git:
  submodules:
    false
before_install:
  - ls
  - echo -e "\n\nmachine github.com\n  $GITHUB_TOKEN\n" >~/.netrc
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
install:
  - ls
  - npm i
  - cd ./tools
  - npm i
  - npx selenium-standalone install
script:
  - ls
  - npx selenium-standalone start &
  - sleep 9
after_success:
  - ls
  - node ./runUITests.js
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: introUITests
  local-dir: ./report
